@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

/*******************************************************************************************/

body{
    font-family: "Quattrocento", serif;
    background-color: #cdcfc0;
}
.container {
    width: 95%;
    max-width: 1100px;
    max-height: 90000px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../Images/portada2.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    background-size: cover;
    z-index: -1;
}

/*******************************************************************************************/
.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;

}
.nav_title {
    font-weight: 300;
}



.nav_link
{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
 grid-auto-columns:max-content ;
    gap: 1em;
}

.nav_items
{
    list-style: none   ;
}

.nav_links
{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
 margin-left: auto;
 cursor: pointer;
 display: none;
}
.nav_img
{
    display: block;
    width: 30px;

}
.nav_close
{
    display: var(--show, none);
}
/*******************************************************************************************/
.hero_container
{
   max-width: 800px;
   --padding-container:0;
   display: grid;
   grid-auto-rows: max-content;
   align-content: center;
   gap: 1em;
   padding-bottom: 100px;
   text-align: center;
}

/*******************************************************************************************/
.price
{
    text-align: center;

}
.price_table
{
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;

}

.price_element{
    background-color: #bbbea5;
    text-align: center;
    border-radius: 50px;
    width: 340px;
    padding: 30px;
    --color-plan: #71a63c;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #373757;
    --color-items: #696871;

}



.price_name{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price_Price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price_items{
    margin-top: 5px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price_cta{
    display: block;
    padding: 20px 10;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    
}

/*******************************************************************************************/


.subtitleA
{
    color: #fff;
    text-decoration: none;
}
.about_paragraphA{
    color: #fff;
    text-decoration: none;
}
/*******************************************************************************************/

/*footer*/

.footer{
    background-color: #1D293F;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a2940; /* Color de fondo */
    padding: 10px 0;
    text-align: center;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.footer__copy{
    --padding-container: 5px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 50px;
}


/*******************************************************************************************/

/* Media queries */

@media (max-width:800px){
    .nav_menu{
        display: block;
    }

    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title{
        font-size: 2.5rem;
 
 
    }

}
@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitleA{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
@media (max-width: 768px) { /* Para tablets y móviles */
    .price__element {
        max-width: 80%; /* Reduce el ancho */
        padding: 1.5em; /* Reduce el padding */
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }
}

@media (max-width: 480px) { /* Para teléfonos más pequeños */
    .price__element {
        max-width: 90%;
        padding: 1em;
        font-size: 0.85rem;
    }
}
